/* Pagination fix. See XLIT-18. */
.livedata-inline-table_macro .livedata-topbar .livedata-pagination {
    display: none !important;

}

.livedata-inline-table_macro .livedata-bottombar .livedata-pagination {
    display: none !important;

}


/* Remove Livedata cells padding and enable padding in the html wrapper instead. See XLIT-19. */
.livedata-inline-table_macro .cell {
    padding: 0;
}
.livedata-inline-table_macro .cell .xwiki-livedata-inline-table-cell {
    padding: var(--table-cell-padding);
}
